appdirs==1.4.4
asgiref==3.2.10
cfgv==3.2.0
distlib==0.3.1
Django==2.2.12
django-autoslug==1.9.7
django-crispy-forms==1.9.0
django-inline-svg==0.1.1
django-taggit==1.3.0
django-tinymce==3.0.2
djangorestframework==3.11.0
filelock==3.0.12
identify==1.5.5
nodeenv==1.5.0
pbr==5.4.5
pre-commit==2.3.0
protobuf==3.12.2
psycopg2==2.8.5
pytils==0.3
pytz==2020.1
PyYAML==5.4
rope==0.17.0
six==1.15.0
sqlparse==0.3.1
stevedore==3.2.0
toml==0.10.1
virtualenv==20.0.28
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
