<html>
    <head>
        <title>DzenToday blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">DzenToday blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Мацуо Басё</a></h2>
            <p>Старый пруд. Прыгнула в воду лягушка. Всплеск в тишине.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Мастер Энго</a></h2>
            <p>Он непосредственно перед вами в это мгновение, я передаю его вам во всей полноте.
                Для умного человека одного слова достаточно, чтобы направить его к истине,
                но даже в этом случае может вкрасться ошибка. Это возможно тогда, когда истина эта
                выражена посредством пера и бумаги, либо облечена в форму софизма; в этих случаях она
                ещё дальше ускользает от нас. Великая истина Дзэна живёт в каждом. Загляните внутрь и ищите
                её там, не прибегая к чьей-либо помощи.</p>
        </div>
    </body>
</html>